# Senhas e Variáveis de Ambiente
.env
database/user_credences

# Ambiente Virtual
venv/
.venv/
env/

# Arquivos de Cache do Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Arquivos de banco de dados locais (se for usar SQLite no futuro)
*.sqlite3
*.db